<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="RestAssuredTestSuite" verbose="1" parallel="methods" thread-count="2" data-provider-thread-count="2">


        <!-- Global Listeners -->
        <listeners>
            <listener class-name="listeners.TestListener"/>
            <listener class-name="listeners.ExtentTestNGListener"/>

        </listeners>

        <!-- Global Parameters -->
        <parameter name="retry.enabled" value="false"/>
        <parameter name="retry.count" value="2"/>

        <!-- API Tests with Parallel Execution -->
        <test name="API Tests - Core Functionality" preserve-order="true">
            <classes>
                <class name="tests.functional.LoginPageTests">
                    <methods>
                        <include name="validateLogin"/>
                    </methods>
                </class>

                <class name="tests.contract.HomePage">
                    <methods>
                        <include name="validatefetchSchemesContract"/>
                    </methods>
                </class>
                <class name="tests.functional.HomePageTests">
                    <methods>
                        <include name="validateFetchGSSCallFromHomePage"/>
                        <include name="validateFetchGSSCall2FromHomePage"/>
                    </methods>
                </class>

            </classes>
        </test>

        <!-- Data Utilities Demo - Sequential -->


        <!-- Contract Tests -->


    </suite>